# vim: set ts=4 sw=4 ai:
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:
	variable:
		lang: en
	service:
		Nette\Application\IPresenterFactory: BailIff\Application\PresenterFactory
		Nette\ITranslator:
			factory: BailIff\Utils\Translator\Gettext::getTranslator
			option:
				files:
					Application: %appDir%/lang
			run: true
# BailIff
	titleSeparator: ' | '
	databases:
		primary: mysql
	security:
		salt: '50m3541t'
	database:
		mysql:
			driver: mysqli
			host: localhost
			username: username
			password: password
			database: bailiff
			persistent: true
			charset: utf8
			lazy: true
			autoconnect: true # no effect as primary
			substitutes:
				app: ''
production < common:
	mode:
		production: true
		debug: false
	databases:
		profiler: false
development < common:
	mode:
		production: false
		debug: true
	databases:
		profiler: true
	database:
		mysql:
			lazy: false
