#vim: set ts=4 sw=4 ai
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:
	service:
		Nette\Application\IPresenterFactory: BailIff\Application\PresenterFactory
# BailIff
	titleSeparator: ' | '
	databases:
		primary: mysql
		profiler: false
	security:
		salt: '50m3541t'
	database:
		mysql:
			driver: mysqli
			host: localhost
			username: username
			password: password
			database: bailiff
			persistent: true
			charset: utf8
			lazy: true
			autoconnect: true # no effect as primary
			prefix: ''
production < common:
	mode:
		production: true
		debug: false
development < common:
	mode:
		production: false
		debug: true
	databases:
		profiler: true
	database:
		mysql:
			lazy: false
