{block #title}Hlavný panel administrácie :: {include #parent}{/block}

{block #content}
  <h1>Hlavný panel administrácie</h1>
{*
	<ul>
		<li><a n:href="Page:">administrácia stránok</a></li>
		<li><a n:href="User:">administrácia užívateľov</a></li>
	</ul>
*}
<a n:href="Plugins:">administrácia pluginov</a>